/* font-weights 300, 400, 400italic */

html, body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Muli', Helvetica, Arial, sans-serif;
}

body {
	background: url('../img/blue1.png') repeat 0 0;
    /* #282c32 */
    color: #fff;
    padding-top: 70px;
}

a {
	color: #B2CDFF;
	font-weight: 300;
}

a:hover, a:focus {
    color: #939EB3;
	font-weight: 300;
	text-decoration: none;
}

a.disabled, a.disabled:hover, a.disabled:focus {
    color: #939EB3;
    cursor: default;
    font-weight: 300;
	text-decoration: none;
}

.modal-dialog {
    width: 92% !important;
}

.btn-info {
	color: #EBEBEB;
	background-color: #696969;
	border-color: #424242;
	padding: 4px 10px;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
	color: #D8D8D8;
	background-color: #444444;
	border-color: #1A1A1A;
	padding: 4px 10px;
}

.strong {
	font-weight: 400;
}

.pointer {
	cursor: pointer;
}

.navbar-default {
    background-color: #F5F5F5;
    border-color: #ADADAD;
    opacity: 0.8;
}

.navbar-default .navbar-brand {
    color: #4D4D4D;;
    font-weight: 400;
}

.navbar-default .navbar-toggle {
    border-color: #AAAAAA;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #AAAAAA;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #000;
}

.jumbotron {
    background-color: #4B4F57;
}

.panel-basic {
    background-color: #4B4F57;
}

    .panel-basic > .panel-heading {
        background-color: #6C6F75;
    }

.panel-title {
    font-size: 18px;
}

.panel-fixed-height {
    height: 240px;
}

.theLineBottom {
    background-color: #313844;
    margin-top: 50px;
    width: 100%;
    height: 1px;
}

.social-list {
    font-size: 28px;
    float: right;
    padding-top: 10px;
}

.copyright {
    color: #fff;
    font-size: 14px;
    font-weight: 300;   
}

.copyright-phone {
    padding-bottom: 20px;
    text-align: center;
}

.copyleft {
    padding-top: 25px;
}


/* SYNTAX HIGHLIGHTING*/
/* desert scheme ported from vim to google prettify */
pre.prettyprint { display: block; background-color: #333 }
pre .nocode { background-color: none; color: #000 }
pre .str { color: #ffa0a0 } /* string  - pink */
pre .kwd { color: #f0e68c; font-weight: bold }
pre .com { color: #87ceeb } /* comment - skyblue */
pre .typ { color: #98fb98 } /* type    - lightgreen */
pre .lit { color: #cd5c5c } /* literal - darkred */
pre .pun { color: #fff }    /* punctuation */
pre .pln { color: #fff }    /* plaintext */
pre .tag { color: #f0e68c; font-weight: bold } /* html/xml tag    - lightyellow */
pre .atn { color: #bdb76b; font-weight: bold } /* attribute name  - khaki */
pre .atv { color: #ffa0a0 } /* attribute value - pink */
pre .dec { color: #98fb98 } /* decimal         - lightgreen */

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { }

@media print {
  pre.prettyprint { background-color: none }
  pre .str, code .str { color: #060 }
  pre .kwd, code .kwd { color: #006; font-weight: bold }
  pre .com, code .com { color: #600; font-style: italic }
  pre .typ, code .typ { color: #404; font-weight: bold }
  pre .lit, code .lit { color: #044 }
  pre .pun, code .pun { color: #440 }
  pre .pln, code .pln { color: #000 }
  pre .tag, code .tag { color: #006; font-weight: bold }
  pre .atn, code .atn { color: #404 }
  pre .atv, code .atv { color: #060 }
}