/* font-weights 300, 400, 400italic */

html, body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Muli', Helvetica, Arial, sans-serif;
}

body {
	background: url('../img/blue1.png') repeat 0 0;
    /* #282c32 */
    color: #fff;
    padding-top: 70px;
}

a {
	color: #B2CDFF;
	font-weight: 300;
}

a:hover, a:focus {
    color: #939EB3;
	font-weight: 300;
	text-decoration: none;
}

.btn-info {
	color: #EBEBEB;
	background-color: #696969;
	border-color: #424242;
	padding: 4px 10px;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
	color: #D8D8D8;
	background-color: #444444;
	border-color: #1A1A1A;
	padding: 4px 10px;
}

.strong {
	font-weight: 400;
}

.pointer {
	cursor: pointer;
}

.navbar-default {
    background-color: #F5F5F5;
    border-color: #ADADAD;
    opacity: 0.9;
}

.navbar-default .navbar-brand {
    color: #4D4D4D;;
    font-weight: 400;
}

.navbar-default .navbar-toggle {
    border-color: #FFFFFF;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #F5F5F5;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #C5C5C5;
}

.jumbotron {
    background-color: #4B4F57;
}

.panel-basic {
    background-color: #4B4F57;
}

    .panel-basic > .panel-heading {
        background-color: #6C6F75;
    }

.panel-title {
    font-size: 18px;
}